{% extends "layout.html" %}
{% set root = "" %}
{% set body_class = "no-volume" %}
{% block title %}
    Gallery
{% endblock title %}
{% block content %}
    <h1>Gallery</h1>
    <p>All the art assets used for the hunt. May contain puzzle spoilers.</p>
    <p>Click any image to download the full-resolution image.</p>
    <div class="artwork-gallery">
        {% for item in artwork %}
            <div class="artwork-card">
                <a href="{{ root }}static/{{ item.path }}" class="artwork-thumb-link">
                    {# djlint:off H006 #}
                    <img src="{{ root }}static/{{ item.path }}"
                         alt="{{ item.description | striptags | truncate(80) }}"
                         class="artwork-thumb" />
                    {# djlint:on H006 #}
                </a>
                <div class="artwork-info">
                    <div class="artwork-location">{{ item.location }}</div>
                    <div class="artwork-artist">{{ item.artist }}</div>
                    <div class="artwork-description">{{ item.description | md }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
