<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                MOSP Archive
            {% endblock title %}
        | MOSP: A Light Novel</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" />
        <link rel="stylesheet" href="{{ root }}static/style.css" />
        {% block extra_head %}
        {% endblock extra_head %}
        {% block page_meta %}
        {% endblock page_meta %}
        <script src="{{ root }}js/unlock.js" defer></script>
    </head>
    <body class="{{ body_class | default('') }}">
        <div id="container">
            <div id="content">
                <nav class="site-nav">
                    <span id="back">
                        {% block back_nav %}
                            <a class="emoji-link" href="{{ root }}index.html">🔙</a>
                        {% endblock back_nav %}
                        <a id="setname"
                           href="#"
                           onclick="MOSP_promptName(); return false;"
                           title="Click to set your name"><span id="tokenname"></span></a>
                    </span>
                    <span id="status">
                        <span class="relative navitem" id="openall">
                            <input type="checkbox" id="openall-checkbox" />
                            <label for="openall-checkbox" id="openall-label">
                                <span id="openall-icon-off">🔒</span>
                                <span id="openall-icon-on">🔓</span>
                                <span id="openall-text-off">Gated</span>
                                <span id="openall-text-on">Open</span>
                            </label>
                            <div id="openall-tooltip">
                                <span id="openall-state-off">
                                    <strong>Gated mode</strong>
                                    <br>
                                    Puzzles locked by courage.
                                    <br>
                                    <em>Click to open all</em>
                                </span>
                                <span id="openall-state-on">
                                    <strong>Open mode</strong>
                                    <br>
                                    All unlockables visible.
                                    <br>
                                    <em>Click to restore gating</em>
                                </span>
                            </div>
                        </span>
                        <span class="relative navitem" id="courage">
                            <span id="courage_heart">💜</span><span id="courage_value">0</span>
                            <div id="courage-tooltip">
                                <strong>Courage</strong>
                                <br>
                                Earn hearts by solving puzzles.
                            </div>
                        </span>
                    </span>
                </nav>
                <div id="content-inner">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            <div id="footer">
                <hr />
                <div id="footer-inner">
                    <span>© 2021–2022, MOSP Puzzle Hunt</span>
                    <span>
                        {% block southeast %}
                            <a href="{{ root }}index.html">Archive home</a>
                        {% endblock southeast %}
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
